header{
  max-height: 100px;
  width: 100%;
}
.info-header{
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 37px;
  gap: 330px;
  .transparent{
    border: none;
    background: darkgrey;

  }
}
.account-panel,.account-item,.counter-item{
  display: flex;
}
.bag-counter{
  max-width: 80px;
}