
main{
  max-width: 1920px;
}
.wrapper{
  max-width: 1723px;
}
.background-wrapper{
  background-image: url("../images/animaJewelryBg.png");
  background-repeat: no-repeat;
  max-height: 600px;
  height: 100%;
}
.drop_menu{
  display: flex;
  justify-content: center;
  align-items: center;
  .menu{
    display: flex;
    list-style: none;
    gap: 70px;
  }
}
a{
  //text-decoration: none;
  @include lib-text-decoration-none();
  @include lib_css(font-weight, $font-weight__small);
  @include lib-font-size(16);
  @include lib-line-height(19);
  color: $color-black;
  font-family: $font-family__santral;
}
.hero-block{
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;;
}
.hero-title{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  .title{
    width: 657px;
    text-align: center;
    padding-top: 145px;
    padding-bottom: 35px;
    font-family: $font-family__santral;
    @include lib_css(font-weight, $font-weight__light);
    @include lib-font-size(92);
    @include lib-line-height(100);
  }
  .title-img-block{
    display: flex;
    justify-content: center;
    position: relative;
    .additional-img{
      position: absolute;
      top: 214px;
      left: -114px;
      z-index: 5;
    }
  }
}
.btn-panel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1395px;
  position: absolute;
  top: 1193px;
  left: 10px;
}
.social-panel{
  display: flex;
  gap: 24px;
}

//

.about-product{
  display: flex;
  gap: 395px;
}

/*slick slider*/

.slick-track{
  display: flex;
  //align-items: flex-start;
}
.slick-list{
  overflow: hidden;
}
.arrivals-carousel{
  position: relative;
  padding: 0px 50px;
  .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 32px;
    height: 32px;
  }
  .slick-prev{
    left: 0;
    border: none;
    background: url('../images/svg/arrow_left.svg') 0 0 / 100% no-repeat;
  }
  .slick-next{
    right: 0;
    border: none;
    background: url('../images/svg/arrow_right.svg') 0 0 / 100%  no-repeat;
  }
}