
main{
  max-width: 1920px;
}
.wrapper{
  max-width: 1723px;
}
.background-wrapper{
  background-image: url("../images/animaJewelryBg.png");
  background-repeat: no-repeat;
  max-height: 600px;
  height: 100%;
}
.drop_menu{
  display: flex;
  justify-content: center;
  align-items: center;
  .menu{
    display: flex;
    list-style: none;
    gap: 70px;
  }
}
a{
  //text-decoration: none;
  @include lib-text-decoration-none();
  @include lib_css(font-weight, $font-weight__small);
  @include lib-font-size(16);
  @include lib-line-height(19);
  color: $color-black;
  font-family: $font-family__santral;
}
.hero-block{
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;;
}
.hero-title{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;

  .title-img-block{
    display: flex;
    justify-content: center;
    position: relative;
    .additional-img{
      position: absolute;
      top: 214px;
      left: -114px;
      z-index: 5;
    }
  }
}
.title{
  width: 657px;
  text-align: center;
  padding-top: 145px;
  padding-bottom: 35px;
  font-family: $font-family__santral;
  @include lib_css(font-weight, $font-weight__light);
  @include lib-font-size(92);
  @include lib-line-height(100);
}
.btn-panel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1395px;
  position: absolute;
  top: 1193px;
  left: 10px;
}
.social-panel{
  display: flex;
  gap: 24px;
}

//

.about-product{
  display: flex;
  gap: 395px;
  .drop_menu{
    padding-top: 100px;
  }
}

.title-arrivals{
  //width: 294px;
  width: 407px;
  text-align: inherit;
  padding-left: 110px;
}

/*slick slider*/

.slick-slider{
  display: flex;
  //flex-wrap: wrap;
}


.slick-track{
  display: flex;
  //align-items: flex-start;
}
.slick-list{
  overflow: hidden;
}
.arrivals-carousel{
  position: relative;
  padding: 0 50px;
  display: flex;
  //flex: 0 0 auto;
  img{
    width: 100%;
    display: block;
    //height: auto;
    //position: absolute;
  }

  .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 32px;
    height: 32px;
  }
  .slick-prev{
    left: 1136px;
    top: -44px;
    border: none;
    background: url('../images/svg/arrow_left.svg') 0 0 / 100% no-repeat;
  }
  .slick-next{
    right: 162px;
    top: -44px;
    border: none;
    background: url('../images/svg/arrow_right.svg') 0 0 / 100%  no-repeat;
  }
}
.slider-wrapper{
  display: flex;
}
//

.btn-arrivals{
  display: flex;
  justify-content: flex-end;
  height: 48px;

  .btn-border{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 0 37px;
  }
}
//
.collections-block{
  margin-bottom: 187px;
}
.title-collections{
  display: flex;
  justify-content: center;
}
.collection-img-block{
  display: flex;
  justify-content: center;
  .collection-img{
    position: relative;
  }
  .img-left-txt{
    position: absolute;
    top: 559px;
    left: 160px;
    z-index: 50;
  }
  .img-center-txt{
    position: absolute;
    top: 229px;
    left: 133px;
    z-index: 50;
  }
  .img-center2-txt{
    position: absolute;
    top: 775px;
    left: 252px;
    z-index: 50;
  }
  .img-right-txt{
    position: absolute;
    top: 396px;
    left: 162px;
    z-index: 50;
  }
  .img-right2-txt{
    position: absolute;
    top: 943px;
    left: 158px;
    z-index: 50;
  }
  .center-img-part{
    padding-left: 102px;
    padding-right: 102px;
  }
  .img-center, .img-right{
    padding-bottom: 50px;
  }

}
.collection-btn{
  display: flex;
  justify-content: center;
  margin-top: -110px;
  margin-bottom: 100px;
}
 //
.favorites-block{
  margin-bottom: 200px;
}
.title-favorites-block{
  .title{
    margin: 0 auto;
  }
}


//

.holder-price{
  display: flex;
  flex: 0 0 auto;
  .info-part{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    padding: 0;
    gap: 36px;
    max-width: 50%;
    flex: 0 0 50%;
    .sale-part{
      padding-left: 33px;
      >a{
        font-family: 'Blacker Sans Display Trial';
        font-style: normal;
        font-weight: 400;
        font-size: 52px;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
      }
    }
    .price-part{
      >a{
        font-family: 'Santral';
        font-style: normal;
        font-weight: 200;
        font-size: 28px;
        line-height: 150%;
        text-align: center;
      }
    }
    .discount-btn{
      padding-left: 112px;
    }
  }
  img{
    width: 100%;
    display: block;
    height: auto;
    overflow: hidden;
  }

}