@import "global";

*, ::after, ::before {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1723px;
}
img{
  overflow: hidden;
  height: auto;
}
