
//main{
//  max-width: 1920px;
//}
//.wrapper{
//  max-width: 1723px;
//}
.background-wrapper{
  background-image: url("../images/animaJewelryBg.png");
  background-repeat: no-repeat;
  max-height: 600px;
  height: 100%;

}
.drop_menu{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  .menu{
    display: flex;
    list-style: none;
    gap: 70px;
  }
}
a{
  //text-decoration: none;
  @include lib-text-decoration-none();
  @include lib_css(font-weight, $font-weight__small);
  @include lib-font-size(16);
  @include lib-line-height(19);
  color: $color-black;
  font-family: $font-family__santral;
}
.hero-block{
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;;
}
.hero-title{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;

  .title-img-block{
    display: flex;
    justify-content: center;
    position: relative;
    .additional-img{
      position: absolute;
      top: 214px;
      left: -114px;
      z-index: 5;
    }
  }
}
.title{
  width: 657px;
  text-align: center;
  padding-top: 145px;
  padding-bottom: 35px;
  font-family: $font-family__santral;
  @include lib_css(font-weight, $font-weight__light);
  @include lib-font-size(92);
  @include lib-line-height(100);
}
.btn-panel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1395px;
  position: absolute;
  top: 1193px;
  left: 10px;
}
.social-panel{
  display: flex;
  gap: 24px;
}
.social-link{
  position: relative;
  .social-svg{
    position: absolute;
    top: 0;
    right: -17px;
  }
}
//

.about-product{
  display: flex;
  gap: 395px;
  .drop_menu{
    padding-top: 100px;
  }
}

.title-arrivals{
  //width: 294px;
  width: 407px;
  text-align: inherit;
  padding-left: 110px;
}

/*slick slider*/

.slick-slider{
  display: flex;
  //flex-wrap: wrap;
}


.slick-track{
  display: flex;
  //align-items: flex-start;
}
.slick-list{
  overflow: hidden;
}
.arrivals-carousel{
  position: relative;
  padding: 0 50px;
  display: flex;
  //flex: 0 0 auto;
  img{
    width: 100%;
    display: block;
    //height: auto;
    //position: absolute;
  }

  .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 32px;
    height: 32px;
  }
  .slick-prev{
    left: 1136px;
    top: -44px;
    border: none;
    background: url('../images/svg/arrow_left.svg') 0 0 / 100% no-repeat;
  }
  .slick-next{
    right: 162px;
    top: -44px;
    border: none;
    background: url('../images/svg/arrow_right.svg') 0 0 / 100%  no-repeat;
  }
}
.slider-wrapper{
  display: flex;
}
//

.btn-arrivals{
  display: flex;
  justify-content: flex-end;
  height: 48px;

  .btn-border{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 0 37px;
  }
}
//
.collections-block{
  margin-bottom: 187px;
}
.title-collections{
  display: flex;
  justify-content: center;
}
.collection-img-block{
  display: flex;
  justify-content: center;
  gap: 102px;
  .collection-img{
    position: relative;
    width: 400px;
  }
  .img-left-txt{
    position: absolute;
    top: 559px;
    left: 160px;
    z-index: 50;
  }
  .img-center-txt{
    position: absolute;
    top: 229px;
    left: 133px;
    z-index: 50;
  }
  .img-center2-txt{
    position: absolute;
    top: 775px;
    left: 252px;
    z-index: 50;
  }
  .img-right-txt{
    position: absolute;
    top: 396px;
    left: 162px;
    z-index: 50;
  }
  .img-right2-txt{
    position: absolute;
    top: 943px;
    left: 158px;
    z-index: 50;
  }
  .center-img-part{
    padding: 0;
  }
  .img-center, .img-right{
    padding-bottom: 50px;
  }

}
.collection-btn{
  display: flex;
  justify-content: center;
  margin-top: -110px;
  margin-bottom: 100px;
}
 //
.favorites-block{
  margin-bottom: 200px;
}
.title-favorites-block{
  .title{
    margin: 0 auto;
  }
}


//

.holder-price{
  display: flex;
  flex: 0 0 auto;
  .info-part{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    padding: 0;
    gap: 36px;
    max-width: 50%;
    flex: 0 0 50%;
    .sale-part{
      padding-left: 130px;
      >a{
        font-family: 'Blacker Sans Display Trial', serif;
        font-style: normal;
        font-weight: $font-weight__400;
        font-size: 52px;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
      }
    }
    .price-part{
      padding-left: 100px;
      >a{
        font-family: $font-family__santral;
        font-style: normal;
        font-weight: $font-weight__small;
        font-size: 28px;
        line-height: 150%;
        text-align: center;
      }
    }
    .discount-btn{
      padding-left: 220px;
    }
  }
  img{
    width: 100%;
    display: block;
    height: auto;
    overflow: hidden;
  }
}
.discount-block{
  margin-bottom: 200px;
}
.arrow-link{
  position: relative;
  .arrow{
    //box-sizing: border-box;
    width: 28px;
    height: 19px;
    //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 76px;
    left: 157px;
  }
}
//
.showroom-title{
  padding: 0 !important;
  >h1, .a{
    text-align: left;
    padding: 0;
  }
}
.title2{
  font-family: 'Blacker Sans Display Trial';
  font-style: normal;
  font-weight: $font-weight__light;
  font-size: 75px;
  line-height: 100%;
  margin: 0;
}
.txt-showroom{
  font-family: $font-family__santral;
  font-style: normal;
  font-weight: $font-weight__small;
  font-size: $font-size__base;
  line-height: 150%;
}
.txt-showroom-part{
  padding-left: 0 !important;
}
.showroom-part{
  margin-right: 178px;
}
.showroom-link{
  padding-top: 72px;
}
.link-group{
  padding-bottom: 46px;
}

//
.insta-block{
  margin-bottom: 200px;
  margin-top: 55px;
}
.insta-title{
  display: flex;
  justify-content: center;
  padding-bottom: 32px ;
  margin: 0;
}
.link-group{
  display: flex;
  justify-content: center;
  gap: 7px;
}

//insta slider//
.slider-wrapper {
  height: 525px;
  //width: 90%;
  max-width: 1387px;
  margin: 0 auto;
}
.item {
  margin: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  //padding-right: 24px;
}

.slick-list, .slick-track, .slick-slide {
  height: 100%;
}
.slick-slider {
  display: flex !important;
}
.slick-slide {
  outline: none;
}
.slick-arrow {
  cursor: pointer;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 32px;
  height: 32px;
}
.slick-prev{
  position: absolute;
  left: 1299px;
  top: -44px;
  border: none;
  background: url('../images/svg/arrow_left.svg') 0 0 / 100% no-repeat;
}
.slick-next{
  position: absolute;
  right: 3px;
  top: -44px;
  border: none;
  background: url('../images/svg/arrow_right.svg') 0 0 / 100%  no-repeat;
}
.insta-carousel{
  position: relative;
  display: flex;
}
